<p> <%= @resource.email %> さん! </p><br /> 
<p>いつも、「パーソナルポストカード」をご利用いただきありがとうございます。</p><br />
<p>アカウントのパスワードを変更するためのリンクをリクエストされましたので、リンクをお送りいたします。</p>
<p>以下のリンクをクリックすることで変更手続きを行うことができます。</p><br />
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p><br />
<p>リクエストされていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されないためご注意ください。</p>